#only source files are uploaded

*.sdf
*.sln
*.suo

x64/
Debug/
cpptest/

opencv_exercise/x64/
opencv_exercise/Debug/
opencv_exercise/*.vcxproj
opencv_exercise/*.vcxproj.filters
opencv_exercise/opencv_exercise.vcxproj


